[submodule "runtime/vendor/yaml-cpp"]
	path = runtime/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "runtime/vendor/cpr"]
	path = runtime/vendor/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "runtime/vendor/curl"]
	path = runtime/vendor/curl
	url = https://github.com/curl/curl.git
[submodule "runtime/vendor/json"]
	path = runtime/vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "runtime/vendor/glfw"]
	path = runtime/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "runtime/vendor/imgui"]
	path = runtime/vendor/imgui
	url = https://github.com/ocornut/imgui.git
